<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Group page">
    <meta name="author" content="Kalymova Zhansaya, Boyarkin Dmitriy IT2-2312">
    <meta name="keywords" content="Weblog, blog, IITU, IT, Group">
    <title>g/{{ group }}</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap-icons.min.css" rel="stylesheet">
    <link href="/static/css.css" rel="stylesheet">
    <style>
        /* Profile */
        section.banner {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            background: #1b1b1b;
            border-radius: 15px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
            margin-bottom: 2rem;
        }

        section.banner img {
            width: 100%;
            height: 100%;
            border-radius: 15px;
        }

        figure {
            margin: 0;
        }

        section.banner .group-name-plate {
            position: absolute;
            display: flex;
            background: rgba(0, 0, 0, 0.7);
            bottom: 0;
            width: 100%;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            padding: 1rem;
        }

        .image-wrapper {
            position: relative;
            display: inline-block;
            cursor: pointer;
            width: 100%;
        }

        section.banner figure {
            position: relative;
            align-items: center;
            gap: 15px;
            display: flex;
        }

        .banner-columns {
            display: flex;
            flex-direction: column;
            white-space: nowrap;
            overflow-x: hidden;
        }

        .banner-columns .group-name {
            font-size: 2rem;
        }

        .banner-columns .group-subs {
            font-size: 1rem;
        }

        .image-wrapper img {
            object-fit: cover;
            transition: opacity 0.3s ease;
        }

        .overlay {
            position: absolute;
            inset: 0;
            border-radius: 50%;
            background: rgba(0, 0, 0, 0.4);
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        .overlay i {
            color: white;
            font-size: 2rem;
        }

        .image-wrapper:hover .overlay {
            opacity: 1;
        }

        section.banner figure img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
        }

        button .short-text {
            display: none;
        }

        #attach-btn:hover {
            color: white !important;
        }

        .user-card {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #fff;
            border-radius: 6px;
            margin-bottom: 8px;
            padding: 10px 15px;
            cursor: pointer;
            border: 1px solid #ddd;
            color: #c62828;
            transition: all 0.2s ease;
        }

        .user-info {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .user-info img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        .user-card input[type="checkbox"] {
            display: none;
        }

        .extra-text {
            display: none;
            font-weight: 600;
        }

        .user-card.checked {
            background-color: #c62828;
            color: #fff;
            border-color: #c62828;
        }

        .user-card.checked .extra-text {
            display: block;
            color: #fff;
        }

        /* Hover effect */
        .user-card:hover {
            border-color: #c62828;
        }

        @media (max-width: 768px) {
            main {
                margin-top: 1rem;
            }

            section.banner figure img {
                width: 70px;
                height: 70px;
            }

            section.banner figure button {
                font-size: 0.9rem;
            }

            button .full-text {
                display: none;
            }

            button .short-text {
                display: inline;
            }

            .banner-columns {
                padding: 0 !important;
            }

            .banner-columns .group-name {
                font-size: 1.5rem;
            }

            .banner-columns .group-subs {
                font-size: 0.7rem;
            }

            section.banner .group-name-plate {
                padding: 0.5rem;
            }
        }
    </style>
    <script src="/static/socket.io.min.js"></script>
    <script src="/static/bootstrap.bundle.min.js"></script>
</head>
<body>
<!-- Detect if PrivacyBadger/NoScript or AdBlocker disabled JavaScript -->
<noscript>
    <style type="text/css">
        #container {
            display: none;
        }
    </style>
        <div class="noscriptmsg">
        <header class="d-flex justify-content-between align-items-center px-3 py-2 border-bottom border-danger bg-light"
                style="position: sticky; min-height: 90px;">
            <div class="flex-grow-1 text-center">
                <img class="flex-grow-1 text-center" src="/static/logo.png" style="width: 150px" alt="LOGO">
            </div>
        </header>

        <main>
            <article>
                <figure style="place-items: center;">
                    <img src="/static/No_JavaScript.jpg" alt="X" class="text-danger m-3" style="width: 150px; height: 150px; font-size: 6rem; text-align: center; border: 0; border-radius: 0">
                    <figcaption class="text-secondary">JavaScript is disabled!</figcaption>
                    <figcaption style="font-size: 1rem; text-align: center;" class="text-secondary">And with almost the entire functionality of the website.<br>
                    Please enable at least JavaScript in your AdBlocker or privacy extensions before accessing this page.<br>
                    If you have any concern regarding the safety of your privacy, then you can check our GitHub page, where you will be able to see what methods and functions are used here.<br>
                        <a href="https://github.com/lshinigami/Kalymova_Boyarkin" target="_blank">https://github.com/lshinigami/Kalymova_Boyarkin</a></figcaption>
                </figure>
            </article>
        </main>
    </div>
</noscript>
<div id="container">
    <!-- Sidebar toggle menu -->
    <button class="menu-toggle" onclick="toggleMenu()"><i class="bi bi-list"></i></button>

    <!-- Sidebar -->
    <aside id="sidebar">
        <div class="text-center mb-4">
            <a href="/u/{{ login }}"><img src="/uploads/u/{{ login.lower() }}/ava.jpg" alt="User Avatar"
                                          onerror="this.src='/static/placeholder_ava.jpg';" class="mb-2"></a>
            <a href="/u/{{ login }}"><p class="fw-bold mt-2">u/{{ login }}</p></a>
        </div>
        <nav>
            <ul>
                <li><a href="/"
                       id="deactivated-nav-txt">Home</a>
                </li>
                <li><a href="/?filter=popular"
                       id="deactivated-nav-txt">Popular</a></li>
                <li><a href="/?filter=latest"
                       id="deactivated-nav-txt">Latest</a>
                </li>

                <li class="mt-3 text-uppercase text-white-50 small">Subscriptions ▼</li>
                <!-- This is a list of groups that the user is currently subscribed to.
                It will change dynamically through the Backend -->
                {% for sub in subs %}
                    <a href="/g/{{ sub }}" class="d-flex align-items-center gap-2">
                        <li>
                            <section>
                                <img src="/uploads/g/{{ sub.lower() }}/ava.jpg" alt="Group Icon"
                                     onerror="this.src='/static/group_ava_placeholder.jpg';">
                                <span>{{ sub }}</span>
                            </section>
                        </li>
                    </a>
                {% endfor %}
                <a href="/g/" class="d-flex align-items-center gap-2">
                    <li>
                        <section>
                            <img src="/static/new_group_ava.jpg">
                            <span>Create new Group</span>
                        </section>
                    </li>
                </a>
            </ul>
        </nav>
    </aside>

    <!-- Header -->
    <header class="d-flex justify-content-between align-items-center px-3 py-2 border-bottom border-danger bg-light"
            style="position: sticky; min-height: 90px;">
        <div class="flex-grow-1 text-center d-none d-md-block">
            <a href="/?filter=popular"><img class="flex-grow-1 text-center" src="/static/logo.png" style="width: 150px"
                                            alt="LOGO"></a>
        </div>
        <div class="search-bar" style="position:absolute; right: 1rem;">
            <form class="d-flex align-items-center gap-2" action="/" method="get">
                <input type="text" class="form-control form-control-sm border-danger" placeholder="Search..." name="q">
                <button type="submit" class="btn btn-danger btn-sm text-white d-none d-md-block">Search</button>
            </form>
        </div>
    </header>

    <div id="copyToast">
        Failed to copy text
    </div>

    <div class="modal fade" id="deletionModal" tabindex="-1" role="dialog" aria-labelledby="deletionModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deletionModalLabel">Are you sure?</h5>
                </div>
                <div class="modal-body text-break" id="deletionModalBodyContent">
                    Do you want to remove this post?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            onclick="whatpost=-1;document.getElementById('deletionModalBodyContent').textContent=`Do you want to remove this post?`;deletionModal.hide();">
                        No
                    </button>
                    <button type="button" class="btn btn-danger" onclick="submitDeletePost()">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="unsubscribeModal" tabindex="-1" role="dialog" aria-labelledby="unsubscribeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="unsubscribeModalLabel">Are you sure?</h5>
                </div>
                <div class="modal-body text-break" id="unsubscribeModalBodyContent" style="white-space: pre-line;">Do
                    you want to unsubscribe from this group?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            onclick="document.getElementById('unsubscribeModalLabel').innerText='Are you sure?';document.getElementById('unsubscribeModalBodyContent').textContent=`Do you want to unsubscribe from this group?`;unsubscribeModal.hide();">
                        No
                    </button>
                    <button type="button" class="btn btn-danger"
                            onclick="document.getElementById('subscribeForm').submit();">Yes
                    </button>
                </div>
            </div>
        </div>
    </div>

    {% if role=='creat' %}
        <div class="modal fade" id="usermodModal" tabindex="-1" role="dialog" aria-labelledby="usermodModalLabel"
             data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="usermodModalLabel">Select Moderators</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="(()=>{
                  let usermodSubmit = document.getElementById('usermodSubmit');
                  if (usermodSubmit){
                      usermodSubmit.click();
                  }
              })()"></button>
                    </div>
                    <div class="modal-body" style="height: 200px; overflow-y: auto;">
                        {% if usermods_mods|length>0 or usermods_users|length>0 %}
                            <form id="usermodList" method="post">
                                {% for usermod in usermods_mods %}
                                    <label class="user-card">
                                        <input type="checkbox" name="usermods" value="{{ usermod }}"
                                               id="usermod_{{ usermod }}" checked>
                                        <div class="user-info">
                                            <img src="/uploads/u/{{ usermod.lower() }}/ava.jpg"
                                                 onerror="this.src='/static/placeholder_ava.jpg';" alt="Avatar">
                                            <span style="white-space: nowrap; overflow-x: clip; max-width: 70%;">{{ usermod }}</span>
                                        </div>
                                        <span class="extra-text">MOD</span>
                                    </label>
                                {% endfor %}
                                {% for usermod in usermods_users %}
                                    <label class="user-card">
                                        <input type="checkbox" name="usermods" value="{{ usermod }}"
                                               id="usermod_{{ usermod }}">
                                        <div class="user-info">
                                            <img src="/uploads/u/{{ usermod.lower() }}/ava.jpg"
                                                 onerror="this.src='/static/placeholder_ava.jpg';" alt="Avatar">
                                            <span style="white-space: nowrap; overflow-x: clip; max-width: 70%;">{{ usermod }}</span>
                                        </div>
                                        <span class="extra-text">MOD</span>
                                    </label>
                                {% endfor %}
                                <input id="usermodSubmit" name="usermod" type="submit" style="display:none">
                            </form>
                        {% else %}
                            <span style="white-space: nowrap; overflow-x: clip; max-width: 90%;">You are the only user in this group :(</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <main>
        <section class="banner">
            {% if role=='creat' or role=='moder' %}
                <form id="bannerForm" method="POST" enctype="multipart/form-data" style="width:100%">
                    <input type="file" id="BannerfileInput" name="banner" style="display: none;"
                           onchange="document.getElementById('bannerForm').submit();" accept="image/*">
                    <div class="image-wrapper" onclick="document.getElementById('BannerfileInput').click();">
                        <img id="bannerImage"
                             src="/uploads/g/{{ group.lower() }}/banner.jpg"
                             alt="Banner"
                             onerror="this.src='/static/banner_placeholder.jpg';">
                        <div class="overlay" style="border-radius: 15px">
                            <i class="bi bi-plus-lg"></i>
                        </div>
                    </div>
                </form>
            {% else %}
                <img src="/uploads/g/{{ group.lower() }}/banner.jpg" alt="Banner"
                     onerror="this.src='/static/banner_placeholder.jpg';">
            {% endif %}
            {% if role=='creat' %}
                <button style="position: absolute; top: 0.5rem; right: 0.5rem; text-shadow: -1px -1px 0 black,  1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; font-size: 1.5rem;"
                        onclick="usermodModal.show()" class="btn bg-transparent text-white btn-lg p-2" type="button"><i
                        class="bi bi-three-dots-vertical"></i></button>
            {% endif %}
            <div class="group-name-plate">
                <figure style="justify-content: flex-start; width: 70%">
                    {% if role=='creat' or role=='moder' %}
                        <form id="avatarForm" method="POST" enctype="multipart/form-data">
                            <input type="file" id="AvatarfileInput" name="avatar" style="display: none;"
                                   onchange="document.getElementById('avatarForm').submit();" accept="image/*">
                            <div class="image-wrapper" onclick="document.getElementById('AvatarfileInput').click();">
                                <img id="AvatarImage"
                                     src="/uploads/g/{{ group.lower() }}/ava.jpg"
                                     alt="Avatar"
                                     onerror="this.src='/static/group_ava_placeholder.jpg';">
                                <div class="overlay">
                                    <i class="bi bi-plus-lg"></i>
                                </div>
                            </div>
                        </form>
                    {% else %}
                        <img src="/uploads/g/{{ group.lower() }}/ava.jpg" alt="Avatar"
                             onerror="this.src='/static/group_ava_placeholder.jpg';">
                    {% endif %}
                    <div class="banner-columns" style="align-items: flex-start;">
                        <span class="group-name text-white">g/{{ group }}</span>
                        <span class="group-subs text-white">{{ subscribers }} Subscriber(s)</span>
                    </div>
                </figure>
                <figure style="justify-content: flex-end; width: 30%">
                    <div style="align-items: flex-end; align-self: {{ 'flex-end; padding-bottom: 0.5rem' if role!='unknown' else 'center' }}; gap: 0.5rem;"
                         class="banner-columns">
                        <form method="POST" id="subscribeForm">
                            <input type="hidden" name="sub">
                        </form>
                        <button class="btn btn-{{ 'danger text-white' if role=='unknown' else 'secondary text-secondary-emphasis' }} btn-lg"
                                name="sub" type="button" value="Subscribe" onclick="((role) => {
                                if (role==='unknown'){
                                document.getElementById('subscribeForm').submit();
                                }else{
                                let unsubscribe_text='Do you want to unsubscribe from /g/{{ group }}?'
                                if (role==='creat'){
                                document.getElementById('unsubscribeModalLabel').innerText='Are you REALLY sure?';
                                document.getElementById('unsubscribeModalBodyContent').classList.add('text-danger','fw-bold');
                                unsubscribe_text+='\n\nTHIS WILL DELETE THE GROUP!!'
                                }else if (role==='moder'){
                                document.getElementById('unsubscribeModalBodyContent').classList.add('fw-bold');
                                unsubscribe_text+='\n\nYou WILL lose your role!'
                                }
                                document.getElementById('unsubscribeModalBodyContent').textContent=unsubscribe_text;unsubscribeModal.show();
                                }
                                })('{{ role }}')">
                            {% if role=='unknown' %}
                                <span class="full-text">Subscribe</span>
                            {% else %}
                                <span class="full-text">Subscribed</span>
                            {% endif %}
                            <span class="short-text"><i class="bi bi-plus-lg"></i></span>
                        </button>
                        {% if role!='unknown' %}
                            <span class="group-subs text-white">Role:
                                {{ 'Creator' if role=='creat' else 'Moderator' if role=='moder' else 'User' }}</span>
                        {% endif %}
                    </div>
                </figure>
            </div>
        </section>
        {% if group in subs %}
            <article>
                <form method="POST" enctype="multipart/form-data" class="text-center">
                    <input type="text" id="title" name="title" class="form-control" style="margin-bottom: 0.5rem"
                           placeholder="Title" maxlength="100" required>
                    <textarea id="desc" name="desc" rows="5" cols="40" placeholder="Description..." class="form-control"
                              style="resize: none;" maxlength="4096"></textarea>
                    <span id='attachment-name' class="text-secondary text-break" style="display:none;"></span>
                    <span id="attachment-remove" class="text-secondary" style="cursor: pointer; display:none;" onclick="(() => {
                        attach_file.value = '';
                        attachment_name.innerText='';
                        attachment_name.style.display='none';
                        attachment_remove_btn.style.display='none';
                        attach_btn.classList.remove('btn-secondary','text-secondary-emphasis');
                        attach_btn.classList.add('btn-outline-danger','text-danger');})()"><i
                            class="bi bi-x"></i></span>
                    <button type="button" class="btn btn-outline-danger btn-lg text-danger mt-2" id="attach-btn"
                            onclick="document.getElementById('attach').click()"><i class="bi bi-link-45deg"></i> Attach
                    </button>
                    <input type="file" id="attach" name="attach" accept="image/*" class="form-control"
                           style="display: none" onchange="(() => {
                    if (attach_file.files.length > 0) {
                        attachment_name.innerText=attach_file.files[0].name;
                        attachment_name.style.display='inline-block';
                        attachment_remove_btn.style.display='inline-block';
                        attach_btn.classList.add('btn-secondary','text-secondary-emphasis');
                        attach_btn.classList.remove('btn-outline-danger','text-danger');
                    }else{
                        attachment_name.innerText='';
                        attachment_name.style.display='none';
                        attachment_remove_btn.style.display='none';
                        attach_btn.classList.remove('btn-secondary','text-secondary-emphasis');
                        attach_btn.classList.add('btn-outline-danger','text-danger');
                    }
                })();">
                    <button type="submit" value="Post" class="btn btn-danger btn-lg text-white mt-2">Post</button>
                </form>
            </article>
        {% endif %}
        <!-- Profile Posts -->
        {% for post in posts %}
            <article>
                <!-- Group of origin (avatar, name), upload date -->
                <header>
                    <a href="/u/{{ post['u'] }}"><img src="/uploads/u/{{ post['u'].lower() }}/ava.jpg" alt="Avatar"
                                                      onerror="this.src='/static/placeholder_ava.jpg'"></a>
                    <h2 style="white-space: nowrap; overflow-x: clip; max-width: 50%;"><a href="/u/{{ post['u'] }}"
                                                                                          class="text-danger text-decoration-none">u/{{ post['u'] }}</a>
                    </h2>
                    <span class="text-secondary">•</span>
                    <span class="text-secondary">{{ post['upload_date'] }}</span>
                </header>

                <!-- Post title, post content -->
                <a href="/p/{{ post['id'] }}" class="text-decoration-none text-dark text-break">
                    <p class="postTitle">{{ post['title'] }}</p>
                    <img src="/uploads/p/{{ post['id'] }}/{{ post['attach_img'] }}" alt="{{ post['desc'] }}"
                         class="text-decoration-none text-break content-img"
                         style="white-space: pre-line; object-fit: cover; max-width: 896px; max-height: 896px;">
                </a>

                <!-- Post rating, additional button (share a link) -->
                <div class="post-footer mt-3" data-post-id="{{ post['id'] }}">
                    <div class="post-rating">
                        <span id="like-button" class="



                                {{ 'enabled-span' if login.lower() not in post['liked_by'] and login.lower() not in post['disliked_by'] else 'disabled-span-clicked' if login.lower() in post['liked_by'] else 'disabled-span' }}"
                              onclick="send_change_rating(event)"><i class="bi bi-arrow-up"></i></span>
                        <span id="post-rating-number" class="mx-2">{{ post['rating'] }}</span>
                        <span id="dislike-button" class="



                                {{ 'enabled-span' if login.lower() not in post['liked_by'] and login.lower() not in post['disliked_by'] else 'disabled-span-clicked' if login.lower() in post['disliked_by'] else 'disabled-span' }}"
                              onclick="send_change_rating(event)"><i class="bi bi-arrow-down"></i></span>
                    </div>
                    <div class="post-additional">
                        {% if login.lower() in post['who_rem'] %}
                            <form method="POST" id="removePost_{{ post['id'] }}" style="display: none;">
                                <input type="hidden" name="postId" value="{{ post['id'] }}">
                            </form>
                            <span class="delete-post" style="cursor:pointer;"
                                  onclick="((post_id) => {whatpost=post_id;document.getElementById('deletionModalBodyContent').textContent=`Do you want to remove /p/${post_id}?`;deletionModal.show();})({{ post['id'] }})"
                                  title="Delete the post"><i class="bi bi-trash"></i></span>
                        {% endif %}
                        <span class="share-button ms-1" onclick="copyLink(event)" title="Copy the post link"><i
                                class="bi bi-copy"></i></span>
                    </div>
                </div>
            </article>
        {% endfor %}
        {% if (not (page<=1 and 5*page>=total_pages)) %}
            <nav id="pageNavigator">
                <form method="get">
                    {% if page>1 %}
                        <button type="submit" class="btn btn-danger btn-lg text-white" name="p"
                                value="{{ page-1 if page>1 else 1 }}"><i class="bi bi-arrow-left"></i></button>
                    {% else %}
                        <button type="submit" class="btn btn-danger btn-lg text-white" name="p"
                                value="{{ page-1 if page>1 else 1 }}" disabled><i class="bi bi-arrow-left"></i></button>
                    {% endif %}
                    {% if 5*page<total_pages %}
                        <button type="submit" class="btn btn-danger btn-lg text-white" name="p" value="{{ page+1 }}"><i
                                class="bi bi-arrow-right"></i></button>
                    {% else %}
                        <button type="submit" class="btn btn-danger btn-lg text-white" name="p" value="{{ page+1 }}"
                                disabled><i class="bi bi-arrow-right"></i></button>
                    {% endif %}
                </form>
            </nav>
        {% endif %}
        {% if posts|length <= 0 %}
            <article>
                <figure>
                    <p class="text-danger">:)</p>
                    <figcaption class="text-secondary">No posts found</figcaption>
                    <figcaption style="display: flex;" class="text-secondary">Go&nbsp;<a href="/?filter=popular"
                                                                                         class="text-danger text-decoration-none">home </a>?
                    </figcaption>
                </figure>
            </article>
        {% endif %}
    </main>

    <footer>
        <p>&copy; 2025 IITU Life</p>
    </footer>

</div>
<script src="/static/js.js"></script>
<script>
    var attach_btn = document.getElementById('attach-btn');
    var attach_file = document.getElementById('attach');
    var attachment_name = document.getElementById('attachment-name')
    var attachment_remove_btn = document.getElementById('attachment-remove')
    const unsubscribeModal = new bootstrap.Modal(document.getElementById('unsubscribeModal'));
    const usermodModal = new bootstrap.Modal(document.getElementById('usermodModal'));
    document.querySelectorAll('.user-card input[type="checkbox"]').forEach(cb => {
        cb.closest('.user-card').classList.toggle('checked', cb.checked);

        cb.addEventListener('change', () => {
            cb.closest('.user-card').classList.toggle('checked', cb.checked);
        });
    });
</script>
</body>
</html>
