<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="All-in-one weblog for all your needs and services.">
  <meta name="author" content="Kalymova Zhansaya, Boyarkin Dmitriy IT2-2312">
  <meta name="keywords" content="Weblog, blog, IITU, IT, Gaming, News, Articles, Various">
  <meta name="og:image" content=""> <!-- Logo should be here -->
  <title>Home</title>
</head>
<body>
  <!-- Sidebar toggle menu -->
  <div class="menu-toggle" onclick=""> <!-- Needs a JS function to activate side panel -->
    <!-- Each <span> will be a simple white dash in this "hamburger menu" -->
    <span></span>
    <span></span>
    <span></span>
  </div>

  <!-- Sidebar -->
  <aside id="sidebar">
    <div class="profile">
      <img src="static/Profile_avatar_placeholder.png" alt="User">
      <p>u/Manul</p> <!-- Will change depending on the current user. Will be implemented in the Backend -->
    </div>
    <nav>
      <ul>
        <li><a href="/"><strong><u>Home</u></strong></a></li> <!-- This element has strong and underline due to it being the current page selected -->
        <li><a href="/?filter=popular">Popular</a></li> <!-- Pass arguments to the url to filter posts on the main page -->
        <li><a href="/?filter=latest">Latest</a></li>

        <li style="color: gray;">Subscriptions ▼</li>
        <!-- This is a list of groups that the user is currently subscribed to.
        It will change dynamically through the Backend -->
        <a href="/g/HollowKnight">
          <li>
            <section>
              <img src="static/Group0_avatar_placeholder.jpg" alt="Group Icon">
              <h2>HollowKnight</h2>
            </section>
          </li>
        </a>
        <a href="/g/IITU">
          <li>
            <section>
              <img src="static/Group1_avatar_placeholder.png" alt="Group Icon">
              <h2>IITU</h2>
            </section>
          </li>
        </a>

      </ul>
    </nav>
  </aside>

  <!-- Header -->
  <header style="position: sticky; background: #2e2e2e;">
    <h1>LOGO</h1>
      <div class="search-bar">
        <form>
          <input type="submit" class="search-bar-icon" value="⌕">
          <input type="text" placeholder="Search for any post...">
        </form>
      </div>
  </header>

  <!-- Posts (will load from the Backend DB) -->
  <main>

    <article>
      <!-- Group of origin (avatar, name), upload date -->
      <header>
        <a href="/g/HollowKnight"><img src="static/Group0_avatar_placeholder.jpg" alt="Avatar"></a>
        <h2><a href="/g/HollowKnight">g/HollowKnight</a></h2>
        <h2>•</h2>
        <h2>03.09.25</h2>
      </header>

      <!-- Post title, post content -->
      <a href="/g/HollowKnight/comments/0">
        <p>Silksong tomorrow!!11!1!</p>
        <img src="static/Post0_img_placeholder.jpg" alt="Content" class="content-img">
      </a>

      <!-- Post rating, additional button (share a link) -->
      <div class="post-footer" data-post-id="g/HollowKnight/0">
        <div class="post-rating">
          <span class="like-button">👍</span>
          <span class="post-rating-number">25.4k</span>
          <span class="dislike-button">👎</span>
        </div>
        <div class="post-additional">
          <span class="share-button">🔗</span>
        </div>
      </div>
    </article>

    <article>
      <header>
        <a href="/g/IITU"><img src="static/Group1_avatar_placeholder.png" alt="Avatar"></a>
        <h2><a href="/g/IITU">g/IITU</a></h2>
        <h2>•</h2>
        <h2>10.09.25</h2>
      </header>
      <a href="/g/IITU/comments/0">
      <p>🌟 “IITU Student Life Fair” ждёт вас! 🌟</p>
      <img src="static/Post1_img_placeholder.jpg" alt="Content" class="content-img">
      </a>
      <div class="post-footer" data-post-id="g/IITU/0">
        <div class="post-rating">
          <span class="like-button">👍</span>
          <span class="post-rating-number">25.4k</span>
          <span class="dislike-button">👎</span>
        </div>
        <div class="post-additional">
          <span class="share-button">🔗</span>
        </div>
      </div>
    </article>

  </main>

</body>
</html>
