<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Group</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        <label>Group avatar: <input type="file" id="gava" name="gava" accept="image/*"></label><br><br>
        <label>Group banner: <input type="file" id="gban" name="gban" accept="image/*"></label><br><br>
        <label>g/<input type="text" name="group_name" required></label><br><br>
        <button type="submit" value="Send">Send</button>
    </form>
</body>
</html>